protected/runtime/*
data/
*.bat
protected/components/UserIdentity.php
protected/vendor/
/index.php
protected/yiic.php
protected/config/main.php
protected/config/console.php
.phpintel
.idea
error_log
TODO/
dev/
sms_data/
/nbproject/private/
/assets